body{
    background-color: #53E8F1;
    }
.centered{
 position: absolute;
 top:45%;
 left:21%;
 color: rgb(7, 7, 15);
 text-align: center;
 font-size: 30px;
 font-weight: bolder;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin-top: 150px;


}
.theme {
    background-color:rgb(249, 252, 250);

}
.margin-top {
margin-top: -8px;
margin-bottom: 1px;

}
.margin-gap {
margin-top: 47px;

}

#logbtn{
    margin-bottom: 7px;
    color: rgb(255, 255, 255);
    width: 100%;
}

#formbg{
    background-color: #EFEFEF;
}