body{
    background-color: #53E8F1;
    }
    .white {
        background-color: rgb(251, 255, 255);
        margin-top: 150px;
       
    }

    .whit {
        background-color: rgb(251, 255, 255);
        margin-top: 150px;
        padding: 29px;

    }
.centered{
 position: absolute;
 top:50%;
 left:25%;
 
 
}
.theme{
    background-color: rgb(112, 83, 241);
  }
  .button {
    background-color: rgb(175, 76, 76);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}